<div class="jobs-container">
  <div class="form-card">
    <div class="form">
      <%= simple_form_for(@apply) do |f| %>
        <%= f.input :full_name %>
        <%= f.input :email %>
        <%= f.input :location %>
        <%= f.input :cover_letter, as: :file %>
        <%= f.input :cv, as: :file %>
        <%= f.submit value="Send Application"%>
      <% end %>
    </div>
  </div>
</div>