<div class="jobs-banner"></div>
<div class="jobs-container">
  <h1>Current Jobs</h1>
      <div class="cards">
        <% @job.each do |job| %>
          <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            <div class="card job-card">
              <div class="card-body">
                <h4 class="card-title"> <%= job.title %> - <%= job.location %> - <%= job.salary %> </h4>
                <p class="card-text"><%= job.description %></p>
              </div>
              <div class="card-footer text-center bg-white">
                <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
              </div>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_job_path(@job) %>
                <%= link_to 'Delete', job_path(@job), method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title">Bid Manager - Herts - £65k</h4>
              <p class="card-text">We are currently recruiting for an experienced Bid Manager to work for a global organisation based in Hertforshire. The ideal candidate will have experience of working in the housing Maintenance and Construction industry.</p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
