<div class="jobs-banner"></div>
<div class="jobs-container">
  <h1>Current Jobs</h1>
    <% if current_user %>
      <%= link_to 'Add New Job', new_job_path, class: "btn btn-green hvr-float-shadow" %>
    <% end %>
      <div class="cards">
        <% @job.each do |job| %>
          <div class="col-lg-4 col-md-6 col-sm-12 p-3">
            <div class="card job-card">
              <div class="card-body">
                <h4 class="card-title"> <%= job.title %> - <%= job.location %> - <%= job.salary %> </h4>
                <p class="card-text"><%= job.description %></p>
              </div>
              <div class="card-footer text-center bg-white">
              <% if user_signed_in? %>
              <%= link_to 'Edit', edit_job_path(job), class: "btn btn-green hvr-float-shadow" %>
              <%= link_to 'Delete', job_path(job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-green hvr-float-shadow" %>
            <% else %>
                <%= link_to "Apply Now",  new_apply_path, class: "btn btn-green hvr-float-shadow"%>             
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
