<div class="footer-container">
  <div id="footer-logo">
    <%= link_to root_path, class: "footer-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="footer">
      <div class="footer-list">
          <ul class="list-ul">
            <li>
              <%= link_to "Home", root_path,  class: "foot-list"  %>
            </li>
            <li>
              <%= link_to "Jobs", jobs_path,  class: "foot-list"   %>
            </li>
            <li>
              <%= link_to "Sectors", sectors_path,  class: "foot-list"  %>
            </li>
          </ul>
          <ul class="list-ul">
            <li>
              <%= link_to "Contact us", new_contact_path,  class: "foot-list" %>
            </li>
            <li>
              <%= link_to "About us", about_path,  class: "foot-list" %>
            </li>
            <li>
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "foot-list" %>
            <% else %>
              <%= link_to "Employee Login", new_user_session_path,  class: "foot-list" %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    <div class="gsw-email">
      <p>Info@gswconsultancy.com</p>
    </div>
  </div>
</div>
