<div class="banner">
  <h1>Property & Construction Recruitment Specialists</h1>
 <a href="#latest-jobs"><i class="fas fa-caret-square-down"></i></a>
</div>

<div class="home-info">
  <p id="home-intro">GSW Consultancy are an independent national recruitment company designed to provide you with the best permanent & temporary professionals in the Property & Construction industry.
  <br>
  <br>
  With our many years of experience, we have built a well established and trusted network that we can share with you.
  <br>
  <br>
  Here at GSW Consultancy we pride ourselves on delivering an excellent service whilst supporting you through each recruitment process. We are able to supply you with all levels of staff from entry level through to senior appointments.
  </p>
</div>

<div id="latest-jobs">
  <h1>Latest Jobs</h1>
    <div class="cards">
      <% @job.last(3).each do |job| %>
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title"> <%= job.title %> - <%= job.location %> - <%= job.salary %> </h4>
              <p class="card-text"><%= job.description %></p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<div class="client-recomendations">
  <h2>What our clients say</h2>
</div>
