<div class="banner">
  <h1>Property & Construction Recruitment Specialists</h1>
  <div class="home-info">
    <p id="home-intro">GSW Consultancy are an independent national recruitment company designed to provide you with the best permanent & temporary professionals in the Property & Construction industry.
      <br>
      <br>
      With our many years of experience, we have built a well established and trusted network that we can share with you.
      <br>
      <br>
      Here at GSW Consultancy we pride ourselves on delivering an excellent service whilst supporting you through each recruitment process. We are able to supply you with all levels of staff from entry level through to senior appointments.
      </p>
  </div>
 <a href="#latest-jobs"><i class="fas fa-caret-square-down"></i></a>
 <section class="search-sec">
  <div class="container">
      <form action="#" method="post" novalidate="novalidate">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" class="form-control search-slt" placeholder="Job">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" class="form-control search-slt" placeholder="Sector">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <select class="form-control search-slt" id="exampleFormControlSelect1">
                              <option>Salary</option>
                              <option>50,000</option>
                              <option>40,000</option>
                              <option>30,000</option>
                              <option>25,000</option>
                              <option>20,000</option>
                              <option>18,000</option>
                          </select>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <button type="button" class="search-button">Search</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</section>
</div>
<div id="latest-jobs">
  <h1>Careers</h1>
    <div class="cards">
      <% @job.last(3).each do |job| %>
        <div class="col-lg-4 col-md-6 col-sm-12 p-3">
          <div class="card job-card">
            <div class="card-body">
              <h4 class="card-title"> <%= job.title %> - <%= job.location %> - <%= job.salary %> </h4>
              <p class="card-text"><%= job.description %></p>
            </div>
            <div class="card-footer text-center bg-white">
              <%= link_to "Apply Now",  jobs_path, class: "btn btn-green hvr-float-shadow"%>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="client-recomendations">
    <h2>What our clients say</h2>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="carousel-item-quote">
              "Gary has excellent sector knowledge and took the time to get to know me in order to find the perfect job match. Gary was always on hand to answer questions, prepare me for the recruitment process and provide a conduit in communications with my new employer throughout the transition - which was extremely helpful. However, the best and most refreshing thing about Gary is that he not only looks out for his client, but the candidate too. He understands that placing the right candidate in the right role with the right employer is the best long term solution for both the client and the candidate, and this is what differentiates Gary from the rest of the sector!"
            </p>
          </div>

          <div class="carousel-item">
            <p class="carousel-item-quote">
              "In my time knowing Gary, he has always looked for opportunities that were the best fit with both my experience and profile, while showing great passion for his job while always being accessible and available. I can highly recommend his excellent attitude and determination to get the best position for anyone looking for a career change."
            </p>
          </div>

          <div class="carousel-item">
            <p class="carousel-item-quote">
              "I have found Gary to be a very professional recruiter both as a client and as a candidate. Gary does his research and ensures that both client and candidate are a ‘good fit’. He is diligent and works hard to find the right role taking his time to ensure he doesn’t waste either parties time. I highly recommend Gary to companies looking for the right candidate and to candidates looking for a recruiter that actually cares and gets to know you as a person which can be very rare in recruitment."
            </p>
          </div>

          <div class="carousel-item">
            <p class="carousel-item-quote">
              "Gary placed me recently as Bid Manager for Osborne. He has worked diligently and professionally finding me the perfect role. I highly recommend Gary to anyone wishing to move into their next career challenge."
            </p>
          </div>

          <div class="carousel-item">
            <p class="carousel-item-quote">
              "I found Gary to be very professional and personable in all my dealings with him. He took time to get to know what I was looking for and the best approach for me, and importantly I wasn't made to feel like "just another applicant". He kept me fully informed about each potential vacancy, and he was able to quickly help me secure a position. I cannot fault the service I have received, and have no hesitation in recommending him."
            </p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>