<div class="jobs-banner"></div>
<div class="jobs-container">
<div>
  <h1><strong>Contact Us</strong></h1>
  <p>Director: Gary Sewell</p>
  <p>Phone: 07852722482</p>
  <p>E-mail: info@gswconsultancy.com</p>
</div>

<div class="form">
  <h1><strong>Contact form</strong></h1>
    <p>Please contact us if you are looking to expand your team or if you are actively searching for new employment opportunity's, we are happy to help.
      We offer a fully confidential service where we will provide advice and get an understanding of your requirements.
      Please fill out the form below or contact us on the details above.</p>
</div>

<div class="form">
  <%= simple_form_for(@contact) do |f| %>
    <%= f.input :full_name %>
    <%= f.input :company_name %>
    <%= f.input :contact_number %>
    <%= f.input :email%>
    <%= f.input :message %>
    <%= f.submit value="Send Message"%>
  <% end %>
</div>
</div>
